.item img {
  width: 35px;
}

.likes {
  display: grid;
  grid-template-areas: "like btns count";
  grid-template-columns: 40px 20px 10px;
}

.like {
  grid-area: like;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.btns {
  grid-area: btns;
}

.btns img {
  width: 20px;
}

.btns .btn {
  background-color: purple;
  border: none;

}

.count {
  grid-area: count;
}