.items {

}
.btn6 {
    background: #000;
    color: #fff;
    line-height: 42px;
    padding: 0;
    border: none;
}
.btn6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn6:before,
.btn6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 2px;
    background: #000;
}
.btn6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
}
.btn6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
}
.btn6:hover{
    color: #000;
    background: transparent;
}
.btn6:hover:before {
    transition: all 500ms ease;
    height: 100%;
}
.btn6:hover:after {
    transition: all 500ms ease;
    height: 100%;
}
.btn6 span:before,
.btn6 span:after {
    position: absolute;
    content: "";
    background: #000;
}
.btn6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}
.btn6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    transition: all 500ms ease;
}
.btn6 span:hover:before {
    width: 100%;
}
.btn6 span:hover:after {
    width: 100%;
}

.container {
    display: flex;
}

.textarea {
    background-color: dimgray;
    border: none;
    color: #FF8000;
    margin: 0px;
    font-size: 1.1rem;
    resize: none;
}