.header {
    grid-area: h;
    background-color: #404040;
    color: white;
    display: flex;
    align-items: center;
    font-family: Monospaced, cursive;
    font-size: large;
}

.header img {
    width: 40px;
    padding-left: 20px;
    color: white;
}