.nav {
    grid-area: n;
    background-color: blue;
}

.item a {
    color: #FFD700;
    text-decoration: none;
}

.item {
    padding: 5px
}

.item a.activeLink {
    color: #00BFFF;
    padding-left: 15px;
}